.codeEditorContainer{
    padding-left: var(--paddingLeft);
}
.codeEditorTextArea{
    width: 98vw;
    position: fixed;
    bottom: 5%;
    height: 15vh;
    font-family: var(--code);
    padding-right: var(--paddingLeft);
}