
.layoutContainer{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}
.layoutContainer h1{
    padding-left: var(--paddingLeft);
    padding-right: 10vw;
}
.layoutContainer ul li{
    list-style: none;

}
.layoutLink{
    text-decoration: none;
    border: 1px solid black;
    padding: 1vw;
    border-radius: 10px;
    color: black;
}
.layoutLink:hover{
    background-color: var(--gray1);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: var(--paddingLeft);
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: var(--gray5);
}